{% extends "layouts/base.html" %}
{% block content %}
<h1>Manage Doctors</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}
    </p>
    <p>
        {{ form.specialty.label }}<br>
        {{ form.specialty(size=32) }}
    </p>

    <p>
        {{ form.dni.label }}<br>
        {{ form.dni(size=32) }}
    </p>

    <p><input type="submit" value="Add Doctor"></p>
</form>
<h2>Doctors List</h2>
<ul>
    {% for doctor in doctors %}
        <li>{{ doctor.name }} - {{ doctor.specialty }} - {{ doctor.dni }}</li>
    {% endfor %}
</ul>
{% endblock %}
