{% extends "base.html" %}
{% block content %}
<h1>Manage Patients</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}
    </p>

    <p>
        {{ form.dni.label }}<br>
        {{ form.dni(size=32) }}
    </p>

    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}
    </p>
    
    <p><input type="submit" value="Add Patients"></p>
</form>
<h2>Patients List</h2>
<ul>
    {% for patient in patients %}
        <li>> [{{ patient.dni }}] - {{ patient.name }} ({{ patient.email }})</li>
    {% endfor %}
</ul>
{% endblock %}
